#{extends 'main.html' /}
#{set title:'JSON loader' /}


<div>
    <h1 class="name"><a href="/">World Atlas with Journey Planner</a></h1>
</div>
<div>
    <a href="/check">Journey Planner</a>:: <a href="/admin">Admin Area</a> :: <a href="/loader">Load JSON</a>
</div>


<div>
#{form @uploadJSON(), enctype:'multipart/form-data'}
    <h2>Upload a JSON data file:</h2>
    <p>
        Select this checkbox to clear the database as well: <input type="checkbox" id="clearData" name="clearData"
                                                                   checked/>
    </p>
    <input type="file" id="jsonData" name="jsonData"/>
    <input type="submit" value="Upload"/>
#{/}
</div>

#{if flash.success}
<div>
    <p style="color:green">${flash.success}</p>
</div>
#{/if}

#{if flash.error}
<div>
    <p style="color:red">${flash.error}</p>
</div>
#{/if}