#{extends 'main.html' /}
#{set title:'Home' /}

<div>
    <h1 class="name"><a href="/">World Atlas with Journey Planner</a></h1>
</div>

<div>
    <a href="/check">Journey Planner</a>:: <a href="/admin">Admin Area</a> :: <a href="/loader">Load JSON</a>
</div>

<div>
    <h2></h2>
#{ifErrors}
    <div>
        <span color="red">All fields are required!</span>
    </div>
#{/ifErrors}

#{form @Application.planJourney()}
    <div>
    <p>
        <strong>Select an start City:</strong>
        #{if countries}
            #{select 'fid', items:cities, valueProperty:'cityId', labelProperty:'name', id :'froId' /}
        #{/if}
        #{else}
            <div>
                Unfortunately, there are no city in the database.
            </div>
        #{/else}
        </p>
    </div>

    <div>
    <p>
        <strong>Select an end City:</strong>
        #{if cities}
            #{select 'tid', items:cities, valueProperty:'cityId', labelProperty:'name', id:'toId' /}
        #{/if}
        #{else}
            <div>
                Unfortunately, there are no city in the database.
            </div>
        #{/else}
        </p>
    </div>


    <div>
        <p>
            <input type="submit" value="Plan Journey"/>
        </p>
    </div>
#{/form}
</div>


#{if flash.success}
<div>
    <p style="color:green">${flash.success}</p>
</div>
#{/if}

#{if flash.error}
<div>
    <p style="color:red">${flash.error}</p>
</div>
#{/if}

#{if str}
<div>
    <ul>
        #{list items: str, as:'leg' }

            <li><strong>${leg}</strong></li>

        #{/list}
    </ul>
</div>
#{/if}
