#{extends 'main.html' /}
#{set title:'Home' /}

<div>
    <h1 class="name"><a href="/">World Atlas with Journey Planner</a></h1>
</div>

<div>
    <a href="/">Check Account Owner</a> :: <a href="/loader">Load JSON</a>
</div>

<div>
    <h2>Countries</h2>
#{if countries}
    <div>
        There are <strong>${countries.size()}</strong> countries in the database.

        <table style="width:100%">
            <tr>
                <th>Country ID</th>
                <th>Country Name</th>
            </tr>
            #{list items:countries, as:'country'}
                <tr>
                    <td>${country.countryId}</td>
                    <td>${country.name}</td>
                </tr>
            #{/list}
        </table>
    </div>
#{/if}
#{else}
    <div>
        Unfortunately, there are no accounts in the database.
    </div>
#{/else}
</div>


<div>
    <h2>Cities</h2>
#{if cities}
    <div>
        There are <strong>${cities.size()}</strong> cities in the database.

        <table style="width:100%">
            <tr>
                <th>City ID</th>
                <th>City Name</th>
                <th>City Population</th>
            </tr>
            #{list items:cities, as:'city'}
                <tr>
                    <td>${city.cityId}</td>
                    <td>${city.name}</td>
                    <td>${city.population}</td>
                </tr>
            #{/list}
        </table>
    </div>
#{/if}
#{else}
    <div>
        Unfortunately, there are no customers in the database.
    </div>
#{/else}
</div>