#{extends 'main.html' /}
#{set title:'Home' /}

<div>
    <h1 class="name"><a href="/">World Atlas with Journey Planner</a></h1>
</div>

<div>
    <a href="/check">Journey Planner</a>:: <a href="/admin">Admin Area</a> :: <a href="/loader">Load JSON</a>
</div>

<div>
    <h2>Countries</h2>
#{if countries}
    <div>
        There are <strong>${countries.size()}</strong> countries in the atlas.

        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Name</th>
            *{<th>Capital</th>}*
            </tr>
            #{list items:countries, as:'country'}
                <tr>
                    <td>${country.countryId}</td>
                    <td>
                        <a href="@{controllers.Application.show(country.countryId)}">${country.name}</a>
                    </td>
                *{<td>${country.capital}</td>}*
                </tr>
            #{/list}
        </table>
    </div>
#{/if}
#{else}
    <div>
        Unfortunately, there are no accounts in the database.
    </div>
#{/else}
</div>
