#{extends 'main.html' /}
#{set title:'Country Details' /}

<div>
    <h1 class="name"><a href="/">World Atlas with Journey Planner</a></h1>
</div>

<div>
    <a href="/check">Journey Planner</a>:: <a href="/admin">Admin Area</a> :: <a href="/loader">Load JSON</a>
</div>


<div>
    <h2>${country.name}</h2>
    <p>Capital: <strong>${country.capital.name}</strong></p>
    <p>Population: <strong>${country.population}</strong></p>

</div>

<div>
    <h2>Bordering Countries</h2>
#{if neighborList}
    <div>
        There are <strong>${neighborList.size()}</strong> bordering countries to <strong>${country.name}</strong>.
    </div>

    <table style="width: 100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Population</th>
        </tr>
        #{list items:neighborList, as:'countrys'}
            <tr>
                <td>${countrys.countryId}</td>
                <td><strong><a
                        href="@{controllers.Application.show(countrys.getCountryId())}">${countrys.name}</a></strong>
                </td>
                <td>${countrys.population}</td>
            </tr>
        #{/list}
    </table>


#{/if}
#{else }
    <div>
        Unfortunately, there are no bordering countries to ${country.name}.
    </div>
#{/else}

#{if neighborCitiesList}
    <div>
        There are <strong>${neighborCitiesList.size()}</strong> bordering cities in${neighborList.name}.
    </div>

    <table style="width: 100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Population</th>
        </tr>
        #{list items:neighborCitiesList, as:'cities'}
            <tr>
                <td>${cities.cityId}</td>
                <td>${cities.name}</td>
                <td>${cities.population}</td>
            </tr>
        #{/list}
    </table>

#{/if}
#{else}
    <div>
        Unfortunately, there are no bordering cities to ${country.name}.
    </div>
#{/else}

</div>